mixin video(video)
    a(href=`/videos/${video.id}`).video-mixin
        div.video-mixin-thumb 
        div.video-mixin-data 
            span.video-mixin-title=video.title
            div.video-mixin-meta
                span #{video.owner.name} •
                span #{video.meta.views} 회