form {
    label {
        font-size: 14px;
        margin-bottom: 10px;
        display: block;
    }
}

.edit-profile-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500;
    margin-top: auto;
    margin-bottom: auto;
}

.edit-profile-password {
    margin-top: 50px;
    text-align: center;
    a {
        text-decoration: underline;
    }
}