.video_data {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    .video_title {
        font-size: 26px;
        margin-bottom: 5px;
    }
    .video_createdAt {
        font-size: 10px;
    }
    .video_owner {
        margin-bottom: 5px;
        font-size: 14px;
        a {
            color: cornflowerblue;
            text-decoration: underline;
        }
    }
}