doctype html
html(lang="ko")
    head
        title #{pageTitle} | Wetube
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body
        include partials/header.pug
        main 
            h1 #{pageTitle}
            block content
        include partials/footer.pug
        
