extends base.pug

block content
    h4 Change video
    form(method="POST")
        input(placeholder="video title", name="title", value=video.title)
        input(placeholder="video description", name="description", value=video.description)
        input(placeholder="hashtags", name="hashtags", value=video.hashtags)
        input(value="Save", type="submit")
