extends base.pug
block content
    form(method="POST")
        input(name="username", placeholder="Username", required)
        input(name="password", placeholder="Password", required)
        input(value="Login", type="submit")