extends base.pug

block content
    div.upload_container
        div.upload_video
        if errorMessage
            span=errorMessage
        form(method="POST", enctype="multipart/form-data")
            label(form="video") Video File
            input(id="video", name="video", type="file", accept="video/*")
            input(placeholder="video title", required, type="text", name="title")
            input(placeholder="video description", required, type="text", name="description")
            input(placeholder="Hastags", required, type="text", name="hashtags")
            input(value="Upload video", type="submit")

block script 
    script(src="/static/js/recorder.js")