extends base.pug

block content
    h1 Hello! This page is Watch Video ✌️
    h4 Enjoy My #{video.title} Video
    h5 #{video.views} #{video.views === 1? "view" : "views"}
    a(href=`${video.id}/edit`) Edit video &rarr;