header
    a(href="/").header_logo
        i.fab.fa-youtube
    nav
        ul
            li
                a(href="/search")
                    i.fas.fa-search
            if loggedIn
                li
                    a(href="/videos/upload") Upload video
                li
                    a(href="/users/logout") Logout
                li
                    a(href="/users/edit") Edit Profile
                li
                    a(href=`/users/${loggedInUser._id}`)
                        if loggedInUser.avatarUrl === " "
                            span 😘
                        else
                            if loggedInUser.socialOnly
                                img.header_avatar(src=loggedInUser.avatarUrl)
                            else
                                img.header_avater(src="/" + loggedInUser.avatarUrl)
            else 
                li
                    a(href="/join").header_btn Join
                li
                    a(href="/login") Login