header
    h1=pageTitle
    nav
        ul
            li
                a(href="/") Home
            li
                a(href="/videos/upload") Upload video
            li
                a(href="/search") Search
            if loggedIn
                li
                    a(href="/logout") Logout
                li
                    a(href="/profile") #{loggedInUser.name}의 Profile
            else 
                li
                    a(href="/join") Join
                li
                    a(href="/login") Login